*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient( 190deg, #ff6ec4, #7873f5, #48c6ef, rgb(132, 30, 228));
  background-size: 600% 100%;
  animation: gradientmove 10s ease infinite;
}

@keyframes gradientmove {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position:100% 50% ;
  }
  100%{
    background-position: 0% 50%;
  }
}
h1{
  font-size: 2em;
  margin: 0 0 60px 30px}
#box{
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  padding: 60px;
  box-shadow:  inset 3px 3px 100px rgba(245, 159, 159, 0.5);
}
.form-check-label{
  font-size: small;
}
@media screen and (max-width:28em){
  #box{
    width: 300px;
    padding: 60px 20px 60px 20px;
  }
  h1{
    font-size: 1.5em;
    margin: 0px 0px 30px 30px ;
  }
  #emailHelp{
    font-size: small;
  }
}

